html, body, #root, .App {
  width: 100%;
  /* height: 100%; */
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  /* cursor: pointer; */
}
body {
  background: #eee;
}
.App {
  position: relative;
}
.banner {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 30rem;
  background-image: url('https://github.com/YatongZhao/montage/blob/master/src/images/sea.jpg?raw=true');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-inner {
  background-color: rgba(0, 0, 0, .5);
  height: 100%;
}
.header-bg {
  position: sticky;
  z-index: 1;
  width: 100%;
  height: 3rem;
  background-color: #000;
  top: 0;
}
.top {
  height: 9rem;
}
.header {
  display: flex;
  /* background-color: #000; */
  align-items: center;
  justify-content: center;
  position: sticky;
  z-index: 4;
  top: 0px;
  /* height: 2rem; */
  /* padding-top: 1.2rem; */
  /* background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) calc(1.2rem),
    rgba(0, 0, 0, 1) calc(1.2rem),
    rgba(0, 0, 0, 1) calc(100% - 1.2rem),
    rgba(153, 153, 153, 1) calc(100% - 1.2rem)
  ); */
}
.logo {
  display: flex;
  align-items: center;
  /* padding-top: 1rem; */
  justify-content: flex-start;
  padding-left: .5rem;
}
.logo img {
  width: 12rem;
}
.nav-box {
  overflow: hidden;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
}
.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  min-width: 100rem;
}
.nav-item {
  padding: 0 1rem;
}
.description {
  z-index: 3;
  position: relative;
  padding: 2rem 1.4rem;
  font-size: 1.4rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  word-spacing: .2rem;
  color: rgba(255, 255, 255, .9);
  font-weight: 200;
  min-height: 8rem;
}
.main-item {
  /* min-height: 500px; */
  overflow: hidden;
}

.main-item .example-box {
  margin-top: 2rem;
  padding: 1rem 1rem 0;
  display: flex;
  justify-content: center;
}
.main-item .example {
  width:90%;
  min-width: 23rem;
  max-width: 70rem;
  padding: 10px;
  background-color: #fff;
  border-radius: 1rem;
}
.main-item .example img {
  width: 100%;
}

.main-item .title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  margin-top: 2rem;
}

.main-item .company-introduction {
  padding: 1rem 1.4rem 0;
  font-size: 1.2rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  word-spacing: .2rem;
  /* color: rgba(255, 255, 255, .9); */
  font-weight: 200;
}

.main-item .member-box {
  overflow: scroll;
  padding: 1rem .5rem 0;
}
.main-item .member-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-item .member-list .member-item {
  width: 20%;
  min-width: 11rem;
  min-height: 8rem;
  background: #fff;
  margin: 0 .5rem;
  padding-top: 2rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: center;
  word-spacing: .2rem;
  /* color: rgba(255, 255, 255, .9); */
  font-weight: 200;

  /* border-radius: .5rem; */
}

.main-item .member-list .member-item .avatar {
  width: 3rem;
  height: 3rem;
  /* background: #000; */
  border-radius: 50%;
  margin-bottom: 1rem;
}

.footer {
  /* height: 300px; */
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 4rem;
}
.footer .form {
  width: 21rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer .form .title {
  padding: .5rem 0rem;
}
.footer .form .item{
  width: 100%;
  margin: .3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1rem;
  font-weight: 200;
}
.footer .form .item-radio {
  width: 100%;
  margin: .3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 200;
}

.footer .form .item input {
  margin-left: 1rem;
  outline: none;
  border: none;
  width: 14rem;
  height: 1.5rem;
  text-indent: 1rem;
}
.footer .form .submit {
  width: 100%;
  border: none;
  background: #666;
  /* border-radius: .2rem; */
  font-size: 1.4rem;
  margin-top: 1rem;
  outline: none;
  font-weight: 200;
  color: orange;
}